[core]
	editor = vim
	pager = delta
	# Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true
	# https://github.blog/2022-06-29-improve-git-monorepo-performance-with-a-file-system-monitor/
	fsmonitor = true
[include]
	# Allow local customizations in the .gitconfig_local file
	path = ~/.gitconfig.local
[interactive]
	diffFilter = delta --color-only
[branch]
	# Show most recently changed branches first.
	sort = -committerdate
[diff]
	algorithm = histogram
	colorMoved = default
	tool = vimdiff
	submodule = log
	# detect renamed files and show only actual differences between them
	renames = copies
[diff "bin"]
	# Use `hexdump` to diff binary files.
	textconv = hexdump -v -C
[merge]
	conflictstyle = diff3
	tool = fugitive
[mergetool "fugitive"]
	cmd = vim -f -c Gdiff $MERGED
[pull]
	rebase = false
[fetch]
	prune = true
	pruneTags = true
	recurseSubmodules = on-demand
	# 0 gives reasonable default, see https://git-scm.com/docs/git-config#Documentation/git-config.txt-fetchparallel
	parallel = 0
[status]
	submoduleSummary = true
	showUntrackedFiles = all
[submodule]
	recurse = true
[init]
	templatedir = ~/.git-templates
[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	side-by-side = false
	paging = always
	line-numbers = true
	syntax-theme = TwoDark
	width = 1
	minus-style = syntax "#450a15"
	minus-emph-style = syntax "#600818"
	plus-style = syntax "#0b4820"
	plus-emph-style = syntax "#175c2e"
	hunk-header-style = syntax bold
	hunk-header-decoration-style = omit
	file-style = yellow italic
	file-decoration-style = yellow ul
	line-numbers-zero-style = "#4b5263"
	line-numbers-left-format = "{nm:^4} "
	line-numbers-right-format = "{np:^4} "
